# Eclipse metadata
.metadata/
*.log
*.tmp
*.bak
*.swp
*.snap

# Eclipse project settings
*.classpath
*.project
*.settings/

# Maven build
target/

# Java class files
*.class

# JAR / WAR / EAR files
*.jar
*.war
*.ear

# TestNG / Test outputs
test-output/
surefire-reports/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Operating system files
.DS_Store
Thumbs.db

# Other temporary files
*.orig
*.rej
