# Eclipse specific files
.metadata/
*.log
*.tmp
*.bak
*.swp
*.snap
*.classpath
*.project
*.settings/

# Maven build folder
target/

# TestNG / Selenium reports
test-output/
screenshots/

# IDE specific folders
.idea/
*.iml
*.ipr
*.iws

# OS specific files
.DS_Store
Thumbs.db

# Others
*.class
*.jar
*.war
*.ear
