<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MakeMyTrip">
	<listeners>
		<listener class-name="listners.TestListner"/>
	</listeners>
	
		
  <test thread-count="5" name="AutomationTesting">
    <classes>
     
      <class name="tests.HomePageTest"/>
      <class name="tests.FlightPageTest"/>
    </classes>
  </test> <!-- AutomationTesting -->
</suite> <!-- MakeMyTrip -->
